@media screen and (max-width: 768px) {

    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #F1E1E9;
        width: 100%;
        padding: 10px 0;
        border-top: 2px solid #C18F96;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.4s ease;
    }

    .menu ul.activo {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .menu-toggle {
        display: block;
    }

    .principal {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .principal .cajaImagen, 
    .principal .cajaPrincipalCatalogo {
        width: 100%;
        height: auto;
    }

    .cabezal {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }

    .menu ul li {
        margin: 10px 0;
    }

@media screen and (max-width: 360px) {
    .grillaCatalogo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 361px) and (max-width: 500px) {
    .grillaCatalogo {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .grillaCatalogo {
        grid-template-columns: repeat(4, 1fr);
    }
}

.producto {
    min-width: 90px;
}