@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
    
}
body.sin-scroll {
    overflow: hidden;
    height: 100vh;

}

.cabezal {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C18F96;
    border-bottom-right-radius: 25px;
}

.cabezal a {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: #541417;
}

.cabezal a:hover{
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
   list-style: none;
   display: flex;
}

.menu ul li:not(:last-child) {
    cursor: pointer;
}

.menu ul li{
    margin-right: 30px;
    cursor: pointer;
}

.menu ul li:hover{
    color: #541417;
    border-bottom: 3px solid #541417;
}

.cabezal svg {
    width: 40px;
    cursor: pointer;
}

.principal {
    min-height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
     /* overflow: hidden; */
    background-color: #F1E1E9;
}

.principal .cajaImagen {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.principal .cajaImagen img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.principal .cajaPrincipalCatalogo {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.principal .cajaPrincipalCatalogo .cajaCatalogo {
    display: flex;
    flex-direction: column;
}

.principal .cajaPrincipalCatalogo .cajaCatalogo :not(:last-child) {
    margin-bottom: 15px;
}

.botonCatalogo {
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    color: #fff;
    background-color: #541417;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    text-decoration: none;
}

.botonCatalogo:hover {
    transform: scale(1.2);
}

.filtros {
    position: fixed;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: column;
    z-index: 200;
}

.boton-filtros {
    background-color: #C18F96;
    color: #541417;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-filtros:hover {
    background-color: #541417;
    color: #fff;
}

.menu-filtros {
    display: none;
    flex-direction: column;
    background-color: #F1E1E9;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.menu-filtros.activo {
    display: flex;
}

.menu-filtros label {
    margin-bottom: 8px;
    color: #541417;
    font-weight: bold;
}

.menu-filtros input[type="checkbox"] {
    accent-color: #C18F96;
}

.cajaRedes {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.cajaRedes ul {
    list-style: none;
    display: flex;
}

.cajaRedes ul li {
    cursor: pointer;
}


.cajaRedes ul li:not(:last-child){
    margin-right: 10px;
}

.cajaRedes svg {
    width: 40px;
}

.catalogo {
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogo h1 {
    margin: 50px 0px 50px;
}

.grillaCatalogo {
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.producto {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    width: 250px;
    height: max-content
}

.producto img {
    width: 250px;
    height: 250px;
    background-size: cover;
}

.producto img {
    cursor: pointer;
}

.producto .nombreProducto {
    margin-top: 10px;
    font-size: 20px;
}

.producto .precioProducto {
    margin-top: 10px;
}

.producto .agregarAlCarrito {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    background-color: #C18F96;
    font-size: 16px;
}

.producto .agregarAlCarrito:hover{
    cursor: pointer;
    background-color: #541417;
    color: #fff;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #541417;
}

.menu-toggle:hover {
    color: #C18F96;
    transform: scale(1.1);
    transition: 0.3s;
}



